.home {
    height: 100%;
    padding-left: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__buttons {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }

    &__start-lesson {
        width: 400px;
        height: 100px;
    }

    &__logout {
        margin-top: 30px;
        width: 400px;
        height: 100px;
    }

    &__learned-words {
        margin-left: 50px;
    }

    &__learned-table {
        max-width: 400px;
    }
}